.artists-links i.fab {
    font-size: 2.5rem;
    color: rgba(200, 200, 200, 1);
    margin-bottom: 5px;
    text-rendering: geometricPrecision;
}

.artists-links i.fab.fa-soundcloud:hover {
    color: rgba(255, 102, 0, 1);
}

.artists-links i.fab.fa-facebook-square:hover {
    color: rgba(45, 136, 255, 1);
}

.artists-links i.fab.fa-instagram-square:hover {
    color: rgba(168, 48, 190, 1);
}

.artists-links i.fab.fa-youtube-square:hover {
    color: rgba(255, 0, 0, 1);
}

.artists-links i.fab.fa-spotify:hover {
    color: rgba(29, 216, 96, 1);
}

.artists-links i.fab.fa-deezer:hover {
    color: rgba(0, 0, 0, 1);
}

.artists-links i.fab.fa-bandcamp:hover {
    color: rgba(60, 154, 170, 1);
}

.artists-links i.fab.fa-itunes:hover {
    color: rgba(251, 61, 85, 1);
}

.bio-text-cont {
    background-color: rgba(200, 200, 200, 0.1);
}

html, body{
    height: 100%;
    min-height: 100%;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
}

#bg-cont {
    min-height: 100%;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

#main-cont {
    padding-bottom: 20px;
}

h1, h2, h3, h4, h5 {
    color: rgba(51, 51, 51, 1) !important;
}


#main-navbar ul > li > a {
    font-size: 2rem;
    color: rgba(153, 153, 153, 1)
}

#main-navbar ul > li.uk-active > a {
    color: rgba(51, 51, 51, 1);
}

.uk-card {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.uk-card .uk-text-meta {
    color: rgba(150, 150, 150, 1);
}

#about-cont .uk-label,
#homepage-cont .uk-label {
    color: rgba(150, 150, 150, 1);
    background-color: rgba(0, 0, 0, 0.1);
}

.soundcloud-small {
    display: none;
}

#contant-cont p {
    color: rgba(150, 150, 150, 1);
    background-color: rgba(200, 200, 200, 0.1);
}

@media only screen and (max-width: 720px) {
    .uk-navbar-center, .uk-navbar-nav{
        width: 100%;
    }

    .uk-container-small {
        padding: 5px !important;
        margin-top: 10px !important;
    }

    #main-navbar .uk-navbar-nav{
        flex-direction: column;
    }

    .switcher-container h1 {
        font-size: 1.4rem;
    }

    #main-navbar ul > li > a {
        font-size: 1.5rem;
        padding: 0px;
        min-height: 40px;
        border-bottom: 1px solid #888888;
    }

    .uk-container-small {
        padding: 0px;
    }

    .soundcloud-small {
        display: block;
    }

    .soundcloud-large {
        display: none;
    }

}

/*
.bio-text-cont {
    background-color: rgba(0, 0, 0, 0.5);
}

html, body{
    height: 100%;
    min-height: 100%;
    color: rgba(240, 240, 240, 1);
}

body > div {
    min-height: 100%;
    background-image: url('../imgs/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5 {
    color: rgba(240, 240, 240, 1) !important;
}*/